accelerate               0.33.0
datasets                 2.20.0
evaluate                 0.4.2
huggingface-hub          0.24.5
numpy                    1.24.4
pandas                   2.0.3
sacrebleu                2.4.3
safetensors              0.4.4
sentencepiece            0.2.0
setuptools               72.1.0
tokenizers               0.19.1
torch                    2.4.0
transformers             4.44.2

